<div class="breadcrumbs" id="breadcrumbs">

	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
				<a href="#">首页</a>
			</li>
		<li class="active">统计平台管理员工作量</li>
	</ul><!-- /.breadcrumb -->
</div>

<div class="page-content">
	<script src="assets/highcharts.js"></script>
	<!-- <script src="assets/exporting.js"></script> -->
	<!-- <div style="min-width: 310px; height: 400px; margin: 0 auto"> -->
		<span id="container1" style="float:left;min-width: 450px; height: 400px; margin: 0 auto"></span>
		<span id="container2" style="min-width: 450px; height: 400px; margin: 0 auto"></span>
	<!-- </div> -->
</div><!-- /.page-content -->